body {
margin: 0;
padding: 0;
background-color: #000;
font-family: Arial, sans-serif;
}
.intro-page {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
background-image: url('../Images/Intropage.jpg');
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}
.background-image {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: -1;
}
.play-button {
background-color: #FF0000;
color: #fff;
border: none;
font-size: 18px;
cursor: pointer;
border-radius: 20px;
padding: 15px 30px;
align-items: bottom;
margin-top: 390px;
}
.play-button:hover {
background-color: #FF5555;
}
.comName {
font-size: 1.0em;
color: #fff;
margin: -32px;
text-align: center;
}